xterm*background: grey11
xterm*foreground: white

! good color
XTerm.termName: xterm-256color

! use utf8
XTerm*utf8: 1

! line count
XTerm*SaveLines: 8000

! font related
xterm*faceSize: 11

! font scale keybinds and copy and paste keybinds
XTerm.VT100.translations: #override \
Meta <Key> F11: smaller-vt-font() \n\
Meta <Key> F12: larger-vt-font() \n\
Super <Key> F11: smaller-vt-font() \n\
Super <Key> F12: larger-vt-font() \n\
Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
Shift Ctrl <Key> V: insert-selection(CLIPBOARD)
